statemachine.json
{
  "Comment": "An example of using Bedrock to chain prompts and their responses together.",
  "StartAt": "Gerador do Menu",
  "States": {
    "Gerador do Menu": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 200,
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "type": "text",
                  "text": "Vou comemorar meu aniversario preciso de 3 sugestoes de comidas"
                }
              ]
            }
          ]
        },
        "ContentType": "application/json",
        "Accept": "*/*"
      },
      "Next": "Adicionar Menu ao contexto",
      "ResultPath": "$.result_one",
      "ResultSelector": {
        "result_one.$": "$.Body.content[0].text"
      }
    },
    "Adicionar Menu ao contexto": {
      "Type": "Pass",
      "Next": "Gerador das Bebidas",
      "Parameters": {
        "convo_one.$": "States.Format('{}', $.result_one.result_one)"
      },
      "ResultPath": "$.convo_one"
    },
    "Gerador das Bebidas": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 200,
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "type": "text",
                  "text": "Liste bebidas que acompanhe as comidas sugeridas"
                }
              ]
            }
          ]
        },
        "ContentType": "application/json",
        "Accept": "*/*"
      },
      "Next": "Adicionar Bebidas ao contexto",
      "ResultSelector": {
        "result_two.$": "$.Body.content[0].text"
      },
      "ResultPath": "$.result_two"
    },
    "Adicionar Bebidas ao contexto": {
      "Type": "Pass",
      "Next": "Gera o Local",
      "Parameters": {
        "convo_two.$": "States.Format('{}\n{}', $.convo_one, $.result_two.result_two)"
      },
      "ResultPath": "$.convo_two"
    },
    "Gera o Local": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 200,
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "type": "text",
                  "text": "Com base na comida e nas bebidas faça uma sugestão de um lugar para a festa"
                }
              ]
            }
          ]
        },
        "ContentType": "application/json",
        "Accept": "*/*"
      },
      "Next": "Adicionar Local ao contexto",
      "ResultSelector": {
        "result_three.$": "$.Body.content[0].text"
      },
      "ResultPath": "$.result_three"
    },
    "Adicionar Local ao contexto": {
      "Type": "Pass",
      "Parameters": {
        "convo_three.$": "States.Format('{}\n{}\n{}', $.convo_one, $.convo_two, $.result_three.result_three)"
      },
      "ResultPath": "$.convo_three",
      "Next": "Monta lista com os dados gerados"
    },
    "Monta lista com os dados gerados": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 200,
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "type": "text",
                  "text": "Monte a lista resumindo todos os dados coletados para festa ser montada"
                }
              ]
            }
          ]
        },
        "ContentType": "application/json",
        "Accept": "*/*"
      },
      "ResultSelector": {
        "final_result.$": "$.Body.content[0].text"
      },
      "End": true
    }
  }
}
